@{
    ViewData["Title"] = "Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="btn-group" role="group" aria-label="Gestione Spedizioni">
    <a href="@Url.Action("Create", "Spedizione")" class="btn btn-primary">Crea una nuova spedizione</a>
    <a href="@Url.Action("Index", "Spedizione")" class="btn btn-secondary">Mostra Tutte le Spedizioni</a>
    <a href="@Url.Action("RicercaAggiornamento", "Spedizione")" class="btn btn-info">Cerca e Aggiorna una Spedizione</a>
    <a href="@Url.Action("Index", "Cliente")" class="btn btn-warning">Lista dei Clienti</a>
    <a href="@Url.Action("Create", "Cliente")" class="btn btn-warning">Aggiungi Un Cliente</a>
</div>

<div class="d-flex flex-wrap">
    <div class="card" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
            <h3 class="card-title">Spedizioni in Consegna Oggi</h3>
            @if (ViewBag.SpedizioniInConsegnaOggi != null)
            {
                foreach (var spedizione in ViewBag.SpedizioniInConsegnaOggi)
                {
                    <p>Numero Spedizione: @spedizione.NumeroSpedizione</p>
                    <p>Data Spedizione: @spedizione.DataSpedizione.ToShortDateString()</p>
                    <p>Città Destinataria: @spedizione.CittaDestinataria</p>
                    <hr />
                }
            }
            else
            {
                <p class="card-text">Nessuna spedizione in consegna oggi.</p>
            }
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
            <h3 class="card-title">Numero di Spedizioni in Attesa di Consegna</h3>
            <p class="card-text">@ViewBag.NumeroSpedizioniInAttesa</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1rem;">
        <div class="card-body">
            <h3 class="card-title">Numero di Spedizioni per Città Destinataria</h3>
            @if (ViewBag.SpedizioniPerCitta != null && ViewBag.SpedizioniPerCitta.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Città</th>
                            <th>Numero di Spedizioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.SpedizioniPerCitta)
                        {
                            <tr>
                                <td>@item.Citta</td>
                                <td>@item.NumeroSpedizioni</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="card-text">Nessuna informazione disponibile.</p>
            }
        </div>
    </div>
</div>
